* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  border: 1px solid blue;
  max-width: 500px;
  border-radius: 10px;
}

.header h3 {
  text-align: center;
  margin: 12px 0;
}

.title p {
  font-size: 20px;
  margin-bottom: 0;
}

.title input {
  margin: 8px 0;
  font-size: 16px;
  min-width: 300px;
}

.title input:focus {
  outline: 0;
}

#result p {
  font-size: 24px;
  margin: 12px 0;
  font-weight: bold;
}

#result span {
  font-size: 18px;
  font-weight: 500;
}

.exercise {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

#app .exercise:nth-child(5) {
  border-bottom: none;
}

.exercise button {
  margin: 10px 0;
}
